@import url('https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap');
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --font-sans: 'Source Serif 4', serif, ui-sans-serif, system-ui, sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-manrope: 'Manrope', sans-serif;
  --font-funnel: 'Funnel Display', sans-serif;
  --primary-color: #00AEEF;
  --primary-light: #5C8898;
  --secondary-color: #7AC142;
  --background: #ffffff;
  --foreground: #484848;
  --forground-two: #151515;
  --lg-gray: #484848;
  --md-gray: #b2b2b2;
  --sm-gray: #c2c2c2;
  --light-white: #F5F3F0;
  --accent-color: #7AC142;
  --title-line-height: 1.147058823529412;
  --spacing-25px: clamp(1em, 2vw + 0.5em, 25px);
  --spacing-50px: clamp(2em, 4vw + 0.5em, 50px);
  --spacing-57px: clamp(2rem, 4vw + 0.1em, 57px);
  --spacing-47px: clamp(1.8rem, 3vw + 0.1em, 47px);


  --text-90: clamp(3rem, 7vw + 0.5em, 90px);
  --text-80: clamp(2.5rem, 7vw + 0.1em, 80px);
  --text-70: clamp(1.5rem, 5vw + 0.1em, 70px);
  --text-60: clamp(1.4rem, 4vw + 0.1em, 60px);
  --text-55: clamp(1.3rem, 5vw + 0.1em, 55px);
  --text-50: clamp(1.2rem, 5vw + 0.1em, 50px);
  --text-40: clamp(1.1rem, 5vw + 0.1em, 40px);
  --text-30: clamp(1rem, 3vw + 0.1em, 30px);
  --text-34: clamp(1rem, 3vw + 0.1em, 34px);
  --text-19: clamp(0.9rem, 2vw + 0.1em, 19px);
  --text-14: clamp(0.7rem, 2vw + 0.1em, 14px);

  --lhtext-19: 1.526315789473684;
  --lhtext-30: 1.2;
}

@font-face {
  font-family: 'Source Serif 4';
  src: url('../public/assets/fonts/primary-font/SourceSerif4-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 200 900;
  font-style: normal;
}


@theme inline {

  --font-sans: var(--font-sans);

  --color-primary: var(--primary-color);
  --color-secondary: var(--secondary-color);
  --color-accent: var(--accent-color);
  --color-foreground: var(--foreground);
  --color-lggray: var(--lg-gray);
  --color-mdgray: var(--md-gray);
  --color-smgray: var(--sm-gray);
  --color-forground-two: var(--forground-two);
  --color-light-white: var(--light-white);
  --color-primary-light: var(--primary-light);

  --breakpoint-3xl: 96.875rem;

  /* font-size */
  --text-90: var(--text-90);
  --text-80: var(--text-80);
  --text-70: var(--text-70);
  --text-60: var(--text-60);
  --text-50: var(--text-50);
  --text-55: var(--text-55);
  --text-30: var(--text-30);
  --text-34: var(--text-34);
  --text-40: var(--text-40);
  --text-19: var(--text-19);
  --text-14: var(--text-14);

  --font-inter: var(--font-inter);
  --font-manrope: var(--font-manrope);
  --font-funnel-display: var(--font-funnel-display);

  --fw-200: 200;

  /* line-height */
  --lhtext-19: var(--title-line-height);
  --lhtext-30: var(--lhtext-30);

  /* spacing */
  --spacing-25px: var(--spacing-25px);
  --spacing-27px: clamp(1.6875rem, 3vw + 0.1em, 27px);
  --spacing-30px: clamp(1.5rem, 3vw + 0.1em, 30px);
  --spacing-37px: clamp(2.3125rem, 6vw + 0.1em, 37px);
  --spacing-47px: var(--spacing-47px);
  --spacing-50px: var(--spacing-50px);
  --spacing-57px: var(--spacing-57px);
  --spacing-70px: clamp(4em, 7vw + 0.5em, 70px);

  --breakpoint-xs: 30rem;
  --breakpoint-sm: 45rem;
  --breakpoint-md: 50rem;
  --breakpoint-lg: 60rem;
  --breakpoint-xl: 77.5rem;
  --breakpoint-2xl: 87.5rem;
  --breakpoint-3xl: 109.375rem;

  /* --container-max-3xl: 107.5rem; */

}


/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 
*/

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: var(--font-sans);
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  /* iOS momentum scrolling */
  overscroll-behavior: contain;
  @apply dark:bg-black;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #000000; */
    /* --foreground: #ffffff; */
  }
}

.container {
  @apply px-[15px] mx-auto;

}

.pm-noise {
  @apply bg-contain bg-center bg-repeat;
  background-image: url('../public/assets/images/pattern-1.svg');
  background-size: 100px;
}

.sec-noise {
  @apply bg-contain bg-center bg-repeat;
  background-image: url('../public/assets/images/pattern-2.svg');
  background-size: 6%;
}

.hero-slider .swiper-pagination.swiper-pagination-horizontal {
  width: fit-content;
  right: 15px;
  bottom: 20%;
  left: unset;
}

.hero-slider .swiper-pagination .swiper-pagination-bullet {
  width: 67px;
  height: 1px;
  background-color: white;
  margin: 0 !important;
  opacity: 0.60;
}

.hero-slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
  opacity: 1;
}

.blog-slider .swiper-slide-active>div {
  @apply flex flex-col justify-end 3xl:pt-[100px];
}

.blog-slider .swiper-slide-next>div {
  @apply flex flex-col xl:pt-[100px] 3xl:pt-[150px];
}

.blog-slider .swiper-slide-next+.swiper-slide>div {
  /* @apply ; */
}

.blog-slider .swiper-slide {
  @apply transition-all duration-700 ease-in-out;
}

.blog-slider .swiper-slide>div .blog-img {
  @apply transition-all duration-300 opacity-0 translate-y-full;
}

.blog-img {
  @apply xl:max-h-[401px] 3xl:max-h-[674px] 3xl:min-h-[568px];

}

.blog-slider .swiper-slide-next>div .blog-img {
  @apply h-auto xl:h-[400px] 3xl:h-[568px] opacity-100 translate-y-0;
}

.blog-slider .swiper-slide-active>div .blog-img {
  @apply h-auto xl:h-[400px] 3xl:h-[568px] opacity-100 translate-y-0;
}

.blog-slider .swiper-slide-next+.swiper-slide>div .blog-img {
  @apply h-auto xl:h-[541px] 3xl:h-[674px] opacity-100 translate-y-0;
}

.blog-slider-pagination .swiper-button-prev-custom,
.blog-slider-pagination .swiper-button-next-custom {
  top: 20%;
  bottom: -5%;

  @media screen and (max-width: 768px) {
    top: 10%;
    bottom: unset;
  }
}

.blog-slider-pagination .swiper-button-prev-custom {
  /* @apply left-auto; */
  left: unset;
  right: 70px;
}

.testimonials-slider-pagination .swiper-button-prev-testimonials,
.testimonials-slider-pagination .swiper-button-next-testimonials {
  top: unset;
  @apply bottom-0 xl:bottom-[75px];
}

.testimonials-slider-pagination .swiper-button-prev-testimonials {
  /* @apply left-auto; */
  @apply left-8 xl:left-[113px];

  @media screen and (max-width: 768px) {
    left: 20px;

  }
}

.testimonials-slider-pagination .swiper-button-next-testimonials {
  /* @apply left-auto; */
  right: unset;
  left: 200px;

  @media screen and (max-width: 768px) {
    left: unset;
    right: 20px;
  }
}

.word-span {
  transform-origin: bottom;
  line-height: 1;
}
.word-span,
.word-span-wrapper {
  vertical-align: baseline;
  line-height: 1;
}
/* .slide-title {
  opacity: 1;
  transform: translateY(20px);
} */


.menu-icon {
  label {
    display: flex;
    flex-direction: column;
    width: 40px;
    cursor: pointer;
  }

  label span {
    background: #000000;
    border-radius: 10px;
    height: 5px;
    margin: 3px 0;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

  }


  span:nth-of-type(1) {
    width: 50%;

  }

  span:nth-of-type(2) {
    width: 100%;
  }


  span:nth-of-type(3) {
    width: 75%;

  }


  input[type="checkbox"] {
    display: none;
  }


  input[type="checkbox"]:checked~span:nth-of-type(1) {
    transform-origin: bottom;
    transform: rotatez(45deg) translate(5px, 0px)
  }


  input[type="checkbox"]:checked~span:nth-of-type(2) {

    transform-origin: top;
    transform: rotatez(-45deg)
  }


  input[type="checkbox"]:checked~span:nth-of-type(3) {

    transform-origin: bottom;
    width: 50%;
    transform: translate(18px, -4px) rotatez(45deg);

  }
}


/* team-slider */

.team-slider .swiper-slide .team-item .slide-link {
  @apply border border-black rounded-full flex items-center justify-center w-10 h-10 xl:w-[76px] xl:h-[76px] mt-30px opacity-100 md:opacity-0 group-hover:opacity-100 transition-all duration-300 ease-in-out;
}

.team-slider .swiper-slide .team-item .slide-link img {
  @apply  xl:-translate-x-2 xl:translate-y-2 group-hover:-translate-x-0 group-hover:translate-y-0 transition-all duration-300 ease-in-out;
}

.team-slider .swiper-slide-next>div .team-item .slide-link {
  @apply border-white;
}

.team-slider .swiper-slide-next>div .team-item .slide-link img {
  @apply brightness-0 invert-100
}

.team-slider .swiper-slide {
  display: flex;
  flex-direction: column;
  /* or row, depending on your layout */
  justify-content: center;
  align-items: center;
  height: auto !important;
  @apply 3xl:min-h-[890px] opacity-0;
}

.team-slider .swiper-slide-active {
  @apply opacity-100;
}

.team-slider .swiper-slide-next {
  @apply opacity-100;
}

.swiper-slide-next+.swiper-slide {
  @apply opacity-100;
}

.team-slider .swiper-slide .staff-img img {
  @apply transition-all duration-300 ease-in-out;
}

.team-slider .swiper-slide .staff-img {
  @apply mb-15 xl:mb-[75px];
}

.team-slider .swiper-slide-next>div .staff-img {
  @apply mb-5 xl:mb-5;
}

.team-slider .swiper-slide .team-item {
  @apply h-full flex flex-col items-center justify-center pb-10 xl:pb-15 text-center relative;
}
.team-slider .swiper-slide-next .team-item {
  @apply h-full flex flex-col items-center justify-end pb-10 xl:pb-15 text-center relative;
}

.team-slider .swiper-slide .team-item p {
  @apply text-white md:text-foreground;
}
.team-slider .swiper-slide .team-item h3 {
  @apply text-white md:text-black;
}

.team-slider .swiper-slide-next>div .team-item h3, .team-slider .swiper-slide-next>div .team-item p {
  @apply text-white;
}

.team-slider .swiper-wrapper {
  align-items: stretch;
  /* makes all slides equal height */
}

.team-slider .swiper-slide {
  @apply h-full flex items-center justify-center text-center relative;
}

.team-slider .swiper-slide .team-overlay {
  @apply absolute bottom-0 left-0 w-full h-0 transition-all duration-500 ease-in-out;
}

.team-slider .swiper-slide-active>div {
  @apply xl:grayscale-100 xl:h-full;
}

.team-slider .swiper-slide-next>div .team-overlay {
  @apply xl:grayscale-0 xl:bg-gradient-to-t xl:from-primary xl:to-primary/0 xl:h-full;
}
@media (max-width: 767px) {
  .team-slider .swiper-slide-active>div .team-overlay {
    @apply grayscale-0 bg-gradient-to-t from-primary to-primary/0 h-full;
  }
}

.team-slider .swiper-slide-next+.swiper-slide>div .staff-img img {
  @apply grayscale-100 h-full;
}

.team-slider .swiper-slide-active>div .staff-img img {
  @apply h-[325px] object-contain;
}

.team-slider .swiper-slide-next>div {
  /* @apply grayscale-0 bg-gradient-to-t from-primary to-primary/50 h-full; */
}

.team-slider .swiper-slide-next+.swiper-slide>div .staff-img img {
  @apply h-[325px] object-contain;
}



.ml-container {
  @apply 2xl:max-w-[1432px] ml-auto;
}

.ml-container-big {
  @apply 2xl:max-w-[1574px] ml-auto;
}

.crd-index {
  /* @apply pt-[44px]; */
}

@media (min-width: 1240px) {
.why-choose-wrap>div:first-child {
  @apply mt-10 xl:mt-[144px];
}

.why-choose-wrap>div:nth-child(2n) {
  @apply mt-5 xl:mt-[94px] h-fit;
}

.why-choose-wrap>div:nth-child(3n) {
  @apply mt-5 xl:mt-[44px] h-fit;
}

.why-choose-wrap>div:nth-child(4n) {
  @apply mt-5 xl:-mt-[40px] h-fit;

  .crd-index {
    @apply hidden xl:block xl:pt-[46px];
  }
}
 .crd-index {
   @apply hidden xl:block;
 }
 .why-choose-wrap .card-head::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  width: 1px;
  height: calc(100% + 46px);
  z-index: 10;
  background-color: var(--primary-light);
  @media screen and (max-width: 768px) {
    display: none;
  }
}
}
.why-choose-wrap .card-head {
  @apply relative xl:min-h-[216px];
}





.process-grid {
  @apply md:grid; 
  grid-template-rows: repeat(2, 220px);
  grid-template-columns: repeat(12, 1fr);
  
}

.process-grid>div {
  @apply relative;
}

.process-grid>div .pr-num {
  background-color: #d9d9d9;
  @apply rounded-full min-w-[42px] min-h-[42px] md:min-w-[46px] md:min-h-[46px] flex items-center justify-center;
}

.process-grid>div p {
  max-width: 30ch;
}

.process-grid>div:first-child {
  grid-column: 1/3;
  @apply border-b border-primary-light;
  @media screen and (max-width: 799px) {
    @apply hidden;
  }
}

.process-grid>div:nth-child(2) .pr-num {
  @apply md:absolute -bottom-[23px] -left-[23px]
}

.process-grid>div:nth-child(2) {
  grid-column: span 4;
  @apply md:border-b md:border-l border-primary-light;
  @media screen and (max-width: 768px) {
    grid-column: span 5;
  }
}

.process-grid>div:nth-child(3) .pr-num {
  @apply md:absolute -bottom-[23px] -left-[23px]
}

.process-grid>div:nth-child(3) {
  grid-column: span 5;
  @apply md:border-b md:border-l border-primary-light;
}

.process-grid>div:nth-child(4) {
  grid-column: span 4;
  @media screen and (max-width: 768px) {
    @apply hidden;
  }
}

.process-grid>div:nth-child(5) .pr-num {
  @apply md:absolute -top-[23px] -left-[23px]
}

.process-grid>div:nth-child(5) {
  grid-column: span 4;
  @apply md:border-l border-primary-light;
}

.process-grid>div:nth-child(6) .pr-num {
  @apply md:absolute -top-[23px] -left-[23px]
}

.process-grid>div:last-child {
  grid-column: 9/13;
  @apply md:border-l border-primary-light;
  @media screen and (max-width: 768px) {
    grid-column: 7/13
  }
}

.experiences-slider .swiper-slide-next {
  @apply pt-0 xl:pt-[125px];
}

.explr-grid {
  @apply xl:grid grid-cols-2 xl:grid-cols-[1.4fr_1fr_1fr];
}


.explr-grid .explr-grid__col>div {
  @apply xl:min-h-[245px] 2xl:min-h-[285px] pl-5 xl:pl-10;
  
}
.explr-grid .explr-grid__col>div h3{
  @apply max-w-[25ch] xl:max-w-none;
}

.explr-grid .explr-grid__col:first-child>div {
  @apply border-b border-r xl:border-r-0 border-primary-light xl:min-h-[329px] 2xl:min-h-[369px] flex flex-col xl:justify-end pb-5 xl:pb-[30px] 2xl:pb-15 xl:pr-[30px] 2xl:pr-15;

  h3 {
    @apply max-w-[24ch] xl:ml-auto;
  }

}

.explr-grid .explr-grid__col:nth-child(2)>div:first-child {
  @apply border-b border-l border-primary-light flex flex-col xl:justify-end pb-5 pt-5 xl:pt-0 2xl:pl-[58px] xl:px-[30px] xl:pb-[30px] 2xl:pb-[58px];

}

.explr-grid .explr-grid__col:nth-child(2)>div:nth-child(2) {
  @apply border-r xl:border-r-0 border-b xl:border-b-0 xl:border-l border-primary-light xl:min-h-[324px] 2xl:min-h-[384px] 2xl:pl-[58px] xl:px-[30px] pt-5 pb-5 xl:pb-0 xl:pt-[30px] 2xl:pt-15;

  h3 {
    @apply max-w-[20ch]
  }
}

.explr-grid .explr-grid__col:nth-child(3)>div:first-child {
  @apply border-b border-l border-primary-light xl:min-h-[330px] 2xl:min-h-[370px] flex flex-col xl:justify-end 2xl:pl-15 pb-5 pt-5 xl:pt-0 xl:pb-[30px] 2xl:pb-15;

}

.explr-grid .explr-grid__col:nth-child(3)>div:nth-child(2) {
  @apply border-r xl:border-r-0 xl:border-l border-primary-light 2xl:min-h-[299px] xl:min-h-[239px] 2xl:pl-[58px] pt-5 pb-5 2xl:pt-15 xl:pt-[30px] 2xl:pb-15 xl:pb-[30px];
  

  h3 {
    @apply max-w-[20ch]
  }
}

.cnt-form input {
  @apply text-34 leading-[1.294117647058824] font-light text-foreground;
}

.cnt-form input::placeholder {
  @apply text-34 leading-[1.294117647058824] font-light text-foreground;
}


.team-tilecard {
  @apply relative;
}

.team-tilecard .team-overlay {

  @apply absolute bottom-0 left-0 w-full h-0 transition-all duration-500 ease-in-out grayscale-0 bg-gradient-to-t from-primary to-primary/0;


}

.team-tilecard:hover .team-overlay {
  @apply h-full;
}

.photo-gallery-slider .swiper-slide {
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-gallery-slider .swiper-slide-active {
  z-index: 2;
}

.photo-gallery-slider .swiper-slide-prev,
.photo-gallery-slider .swiper-slide-next {
  z-index: 1;
}
@media screen and (max-width: 799px) {
  .sm-csst {
    @apply border-b border-primary-light pb-5 mb-5;
  }
  .sm-layout {
    @apply flex flex-row-reverse gap-3 items-center   justify-end   ;
  }
  .order1{
    @apply order-1;
  }
  .order2{
    @apply order-2;
  }
  .order3{
    @apply order-3;
  }
  .order4{
    @apply order-4;
  }
}