@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #484848;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-source-serif: "Source Serif 4", serif;
  --font-inter: "Inter", sans-serif;
  
 --text-80: clamp(3rem, 6vw + 1rem, 5rem);      /* min ~48px, max 80px */
  --text-70: clamp(2.5rem, 5.5vw, 4.375rem);     /* min ~40px, max 70px */
  --text-50: clamp(2rem, 4.5vw, 3.125rem);       /* min ~32px, max 50px */
  --text-34: clamp(1.5rem, 3vw, 2.125rem);       /* min ~24px, max 34px */
  --text-30: clamp(1.375rem, 2.5vw, 1.875rem);   /* min ~22px, max 30px */
  --text-19: clamp(1rem, 1.5vw, 1.1875rem);      /* min 16px, max 19px */
  --text-16: clamp(0.9rem, 1.2vw, 1rem);         /* min ~14px, max 16px */

    --breakpoint-2xl: 96.875rem;
    --breakpoint-3xl: 109.375rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-source-serif);
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-inter);
  @apply text-black;
}
  .container {
    @apply px-[15px] mx-auto;
  }